@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/pt-sans-regular.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/pt-sans-bold.woff2") format("woff2");
  font-display: swap;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  background-color: #ffffff;
}

.visually-hidden {
  display: none;
}

page-header {
  background-color: #ffffff;
  color: #000000;

}

.navigation-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  background-color: #ffffff;
  color: inherit;
  text-decoration: none;
}

.navigation-user-link-search {
  background-image: url("../images/header-icons/search.svg")
  background-repeat: no-repeat;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.navigation-user-link-favourite {
  background-image: url("../images/header-icons/heart.svg");
  background-repeat: no-repeat;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.notification-badge {
  vertical-align: super;
  font-size: 10px;
  line-height: 10px;
  color:#ffffff;
  border-radius: 50%;
  background-color:#7DB54F;
}

.main-index {
  color: #ffffff;
  background-color: #8b6464;
  background-image: url("/images/jpeg/index-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.hero-block {
  color: #000000;
  background-color: #ffffff;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.advantages-list-title {
  color: #000000;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
}

.advantages-list-description {
  color: #000000;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
}

.advantages-list {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
}


.social-list li:nth-child(1) {
  background-image: url(/images/social-icons/social-vk.svg);
  background-repeat: no-repeat;
}

.social-list li:nth-child(2) {
  background-image: url(/images/social-icons/social-telegram.svg);
  background-repeat: no-repeat;
}

.social-list li:nth-child(3) {
  background-image: url(/images/social-icons/social-youtube.svg);
  background-repeat: no-repeat;
}

.newsletter-modify {
  background-image: none;
  background-color: #ffffff;
  color: #000000;
}


.subscribe {
  background-image: url("/images/jpeg/subscribe.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-color: #16819e;
  color: #ffffff ;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
}

.hotel-list-card {
  background-color: rgba(255, 255, 255, 1);
  width: 340px;
  border-color: grey;
  diplaay: grid;
  grid-template-columns: 20px 150px 150px 20px;
}

.housing {
  background-image: url(../advantage-icons/house);
  background-repeat: • no-repeat:
  background-position: » 50% 81px;
  margin: » 0 auto;
}


.phone {
  font-weight: 400px;
  font-size: 40px;
  line-height: 40px;
}
